*{
    margin: 0;
padding: 0;
}

body{
background-color: #222;
color: #fff;
font-family: system-ui;
}


.crud{
width: 80%;
margin: auto;

}
.head{
text-align: center;
text-transform: uppercase;
margin: 10px 0;
}

input{
    width: 100%;
height: 30px;
outline: none;
border: none;
background-color: #111;
color: #fff;
margin: 4px 0;
border-radius: 4px;
padding: 4px;

}

input:focus{
    background-color: #000;
transform:scale(1.1) ;
}
.price input{

    width: 20%;
}
#total{
background-color: #a00;
padding: 4px 2px;
border-radius: 4px;
}

#total::before{

    content: 'Total:';
}

button{
width: 100%;
height: 30px;
border: none;
cursor: pointer;
background-color:#390053 ;
color: #fff;
border-radius:20px ;
transition: 0.5s;
}

button:hover{
background-color: #51025f;
letter-spacing: 1px ;

}

.btnsearch{
    display: flex;
justify-content: space-between;

}

.btnsearch button{
width: 45%;
}

table{
text-align: center;
width: 100%;
margin: 10px 0;
}

table th{
    text-transform: uppercase;
}

th,td{
    padding: 5px;
}

#deleteAll{

    padding: 10px 0;
}

#totalAll{
   background-color: #111; 
height: 30px;
}



/*small screen
@media(min-width:450px){
    .crud{
        width: 430px;
    }
}
/*medium screen
@media(min-width:735px){
    .crud{
        width: 721px;
    }
}
/*large screen
@media(min-width:1433px){
    .crud{
        width: 1200px;
    }
}
*/

/*small screen*/
@media(max-width:768px){
    .crud{
        width: 750px;
    }
}
/*medium screen*/
@media(max-width:992px){
    .crud{
        width: 970px;
    }
}
/*large screen*/
@media(max-width:1200px){
    .crud{
        width: 1095px;
    }
}


@media(max-width:768px){
    input{
      padding: 8px;
     
    }
}


@media(max-width:768px){
    input:focus{
      
        transform:scale(0.95)
    }
}
